body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
  /* display: flex; */
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(245, 244, 244);
}

#footer1 ::after {
  content: "This mini project was made by Nwanji H Uche";
  visibility: visible;
  display: block;
  background: #0ab9bf;
  width: 20px;
  line-height: 20px;
  text-align: center;
  height: 20px;
  overflow: hidden;
  text-indent: -100px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 800px) {
  body {
    padding: 0;
    width: auto;
    height: auto;
  }
}
